version: '3.8'

services:
  mongo:
    container_name: mongo
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    container_name: server
    restart: always
    build:
      context: "./server"
      dockerfile: Dockerfile
    env_file: ./server/.env
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  frontend:
    container_name: frontend
    restart: always
    build:
      context: "./frontend"
      dockerfile: Dockerfile
    ports:
      - "80:8080"
    depends_on:
      - server

volumes:
  mongo-data:
